body{
    font-family: "avenir next";
}

h1{
        text-align: center;
}


.menuBloc{
    display: inline-block;
    border: 1px solid;
    width: 35%;
    height: 312px;
    float: left;
}
h2{
        text-align: center;
}

.bloc2{
        display: inline-block;
        margin-left: 140px;
}


#cocktail, #submit{
        display: block;
}
#cocktail{
        margin-bottom: 10px;
        margin-left: 130px;
}
#submit{
        margin-top: 10px;
        margin-left: 170px;
}
